body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg, #0cc0df, #ffde59); 
    overflow: hidden;
}

h1 {
    margin-top: 1%;
    font-size: 1.7vw;
    font-family: "Press Start 2P", system-ui;
    font-weight: 800;
    font-style: normal;
    text-shadow: 3px 3px 4px black, -3px -3px 4px black, 3px -3px 4px black, -3px 3px 4px black;
}

.quiz {
    color: #ffffff;
}

.time {
    color: #c3e3ff; 
}

main {
    margin-top: 11%;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 90%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 4vw;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #ffffff, 2px -2px 3px #ffffff, -2px 2px 2px #ffffff;
    color: black;
    line-height: 1.5;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: center;
}
  
.answers {
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
  
button {
    width: 100%;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #c3e3ff;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 3.5vw;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, 2px -2px 4px black, -2px 2px 3px black;
}
  
.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
.finish button {
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center; 
    margin-top: 1px;
}

.icon {
    width: 190px; 
    height: 190px; 
    background-image: url('../Icons/mario-quiz.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 37px;
        line-height: 1.3;
    }
}